<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset=utf-8 />
	<title></title>
	<link rel="stylesheet" type="text/css" media="screen" href="demo/demo.css" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"></meta>
	
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
</head>
<body ng-controller="PixelPad" acc shake>
	
	<section id="left" class="controller">
			
	</section>
	
	<section id="center" class="timeline">

			<timeline id="history" class="cf" timeline>
				<li class="frame" ng-repeat="frame in history">
					<span ng-repeat="colors in frame">
						<span class="pixel" ng-repeat="pixel in colors" style="background:rgb({{pixel[0]}},{{pixel[1]}}, {{pixel[2]}})">
							{{$scope.acc.x}}<br/>
							{{$scope.acc.y}}<br/>
							{{$scope.acc.z}}
						</span>
				</li>
			</timeline>

	</section>
	
	<section id="right" class="controller">
	
		<div 
			class="pixelpad" 
			ng-mousedown="togglePixel(0)" 
			hm-tap="togglePixel(0)"
			style="background:hsl({pixels[1][0]},{pixels[1][1]}, {pixels[1][2]})">
			</div>
		<div 
			class="pixelpad"
			ng-mousedown="togglePixel(1)"
			hm-tap="togglePixel(1)" 
			style="background:hsl({pixels[2][0]},{pixels[2][1]}, {pixels[2][2]})">
				</div>
		<div 
			class="pixelpad" 
			ng-mousedown="togglePixel(2)" 
			hm-tap="togglePixel(2)"	
			style="background:hsl({pixels[3][0]},{pixels[3][1]}, {pixels[3][2]})">
				</div>
		
	</section>

	<!-- Jquery (ui) -->
	<script src="http://code.jquery.com/jquery-1.7.2.min.js" type="text/javascript"></script>
	<script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="./lib/jquery-ui/plugins/jquery-ui.touch-punch.js" type="text/javascript"></script>
	<script type="text/javascript" src="./lib/jquery/plugins/jquery.accelerometer.js" type="text/javascript"></script>
	
	<!-- Hammer JS for multi-touch events -->
	<script src="./lib/hammer.js"></script>
	<script src="./lib/jquery/plugins/jquery.hammer.js"></script>
	
	<!-- Angular -->
  <script src="./lib/angular.min.js"></script>
 	<script src="./lib/angular-hammer.js"></script>
  <script src="./lib/angular-resource.min.js"></script>

	<!-- Components -->
  <script src="./demo/controller.js"></script>
  <script src="./demo/directives.js"></script>
  <script src="./demo/services.js"></script>

</body>
</html>