
body, html {height:100%;}
/*Layout*/
#right, #left, #center {float:left;}

header {position:absolute;z-index:1000;top:0px;left:0px;right:0px; height:25px; background:#000}
header * {color:#fff;font-size:10px;text-transform:uppercase;letter-spacing:1px; font-weight:bold; display:inline-block; padding:2px 5px;}
header .left {float:left; }
header .right {float:right;}


/*#left {display:none;}*/
/*#right, #left { position:absolute;top:0px;bottom:0px;width:10%; height:100%; }
#left {left:0px}
#right {right:0px;}*/

body > div {height:100%;width:100%;}

#right, #left {width:10%; height:100%;}
#center { height:100%; width:80%; overflow:hidden; background:#333; position:relative; }

/*The timeline styling*/
#history {text-align:right;position:absolute;right:0px;top:0px;bottom:0px;left:-1000%;}
.frame {width:100px;height:100%;padding:0;margin:0;display:inline-block; border-right:1px dotted #555;float:right;}



.pixel, .pixelpad {display:block;width:100%;height:33%;background:}

.pixel {border-bottom:1px dotted #555;color:#fff;}

.pixelpad {background-image:url('./images/crosshatch.png');background-color:#555; border-bottom:10px solid #000;border-left:10px solid #000}

.pixelpad:active {background:yellow;}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}